

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
      
font-family: helvetica-thin, helvetica, arial, georgia;
font-size: large;
color: white;
line-height: 1.6em;
text-align: center;

/*background: url('https://s3.amazonaws.com/kleebtronics-media/img/megayes/glitch-background2.jpg');
*/
background-color: #000000;
position:relative;

}



#container{

      
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;

      
}

ul{

   padding-left: 100px;
   font-family: helvetica-thin;

}

li{

   padding: none;
   text-align: left;
}

 
 a:link,
 a:visited{
       text-decoration: none;
       color: #FFFFFF;
}

 
 a:hover{
      
      text-decoration: none;
      color: #C0C0C0;
      
      
}


 
 h1 a:link,
h1 a:visited
 {
       text-decoration: none;
       color: #8bc53f;
}

 h1 a:hover{
      
      text-decoration: none;
      color: #add678;
      
      
}

#frame{
      
            border: solid 3px;
            border-color: #4E4848;
            color: black;
            font-size: 20px;
            font-family: helvetica-thin;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 10px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 800px;
            background: rgb(255, 255, 255);
            /* RGBa with 0.6 opacity */
            background: rgba(255, 255, 255, 0.6);
      
      
}



      p{
      
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 100px;
      padding-right:100px;
      font-size: 20px;
      line-height: 1.6em;
      text-align: left;
      font-family: helvetica-thin;
      
      
}

form{

	font-family:helvetica-thin;
}

      h1{
      font-family: helvetica-thin;
      font-size: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #FFFFFF;
      text-align: center;
      
}

      h2{
      font-family: helvetica-thin;
      font-size: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #FFFFFF;
      text-align: center;
      
}






      h4{
      font-size: 20px;
      font-family: helvetica-thin;
       padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;      
}




#frame h1, #frame h2{

      color:black;
}
      

#container img{

border: solid 3px;
border-color: #4E4848;
margin: 10px;

}


      
      
.menu, .menu a:link, .menu a:visited{
  display: inline;
      font-family: helvetica-thin;
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #8bc53f;
      text-align: center;   

      }

      .menu a:hover, .menu:hover{

      color:#add678;
      

      }



span.label a {
	color:#fff;
}


.download{

padding: 3px;
background-color: #4E4848;
display: block;
border-radius: 10px;


}



.live{

   padding:3px;
   background-color: #FF0000;
   display: block;
   border-radius: 10px;
   border: 3px;
   margin: 5px;
}

.loops{

   padding:3px;
   background-color: #3333cc;
   display: block;
   border-radius: 10px;
   border: 3px;
   margin: 5px;
}

.beats{

   padding:3px;
   background-color: #33cc99;
   display: block;
   border-radius: 10px;
   border: 3px;
   margin: 5px;
}

.atmosphere{

   padding:3px;
   background-color: #66cc33;
   display: block;
   border-radius: 10px;
   border: 3px;
   margin: 5px;
}


.hits{

   padding:3px;
   background-color: #CC6633;
   display: block;
   border-radius: 10px;
   border: 3px;
   margin: 5px;
}

.hidden{

background-color:#4E4848;
display:none;
width:200px;
position:relative;
border-radius: 10px;
padding: 10px;


}

.hidden li{

text-align: left;

}




.mousetext{

   font-size: 24px;
   font-family: helvetica-thin;
   display:inline;
   padding-left: 5px;
}

.entry{

   margin-top: 20px;
   padding: 10px;
   border-top: 1px white;
   border-style: solid;
   border-bottom: none;
   border-left: none;
   border-right: none;

}

.popup{

   background-color:black;
   border: none;
   margin: -180px 0 0 -220px;
}

.songform{
   background-color: #2E2E2E;
   width: 400px;


}

.songform input,
.songform select{

   font-family:helvetica-thin;
   color: black;
   margin-bottom: 20px;
}


.contribute{
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
   display: block;
   border-radius: 10px;
   border: 3px;
}

.selected a:link, .selected a:visited{

color:#8bc53f;


}

.btn-primary {
  font-family: helvetica-thin;
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7db138;
  *background-color: #8bc53f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7db138), to(#8bc53f));
  background-image: -webkit-linear-gradient(top, #7db138, #8bc53f);
  background-image: -o-linear-gradient(top, #7db138, #8bc53f);
  background-image: linear-gradient(to bottom, #7db138, #8bc53f);
  background-image: -moz-linear-gradient(top, #7db138, #8bc53f);
  background-repeat: repeat-x;
  border-color: #8bc53f #8bc53f #7db138;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff7db138', endColorstr='#ff8bc53f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover{

  background-color:#8bc53f;
  color:#2E2E2E;

}


