{% extends "layout/main.html" %}


{% block body %}

            <p>
            	Musical Turk is an online database of crowd-sourced musical samples. The intention is that all of these loops can be download and mixed live at performances. 
            </p>
            <p>
            	To <a href="/upload">contribute</a>, follow the instructions listed under the type of loop, and upload a file. All of the samples uploaded to Musical Turk are open-source and can be downloaded individually and remixed.

            </p>
        

{% endblock %}

{% block styles %}{% endblock %}
