{% extends "layout/main.html" %}


{% block body %}
<div class="frame">
	
 <p>
 				Welcome to the Musical Turk!

            	This project aims to crowd-source a musical composition based on loops, rhythms, and melodies that YOU create. Everything submitted here will be included in a musical installation that will be performed at the following dates listed below. No two performances will sound alike, and each performance will be recorded and posted here.

            	Let your musical imagination run wild!

</p>


<h3>Performances</h3>
<p>
<div class="row">
	<div class="span4">April 13</div>
	<div class="span4 offset2">Private Event</div>
</div>

<div class="row">
	<div class="span4">April 27</div>
	<div class="span4 offset2">Secret Project Robot</div>
</div>
</p>




</div>

{% endblock %}

{% block scripts %}{% endblock %}