{% extends "layout/main.html" %}




{% block body %}

<!--Hidden Modal for compose -->
                  <div class="modal hide popup" id="myModal">
                  <form class="well songform span6" method="POST" enctype="multipart/form-data">
                  <div class="row">
                  <div class="span2 offset1">
					<input type="text" name="title" placeholder="Track Title">                 
					</div>
				</div>
					<div class="row">
                  <div class="span2 offset1">
				<input type="text" name="postedby" placeholder="Your Name">
					</div>
                  </div>
                  <div class="row">
                  	<div class="span2 offset1">
                  	<select name="tag">
					<option value="loops">Loop</option>
					<option value="beats">Beat</option>
					<option value="atmosphere">Ambiance</option>
					<option value="hits">Hit</option>
					</select>
                	</div>
                </div>
                  <div class="row">
                  <div class="span2 offset1">
                  <input type="file" name="filename" value="Choose a File"><!-- form.fileupload -->
                  </div>
             	 </div>
             	 <div class="row">
             	 	<div class="span3 offset1">
             	 	<input class="btn btn-primary btn-large" type="submit" value="Submit Sounds">
             	 	</div>
             	 </div>
                  
                  </form>
                  </div>
                

   

	<div class="frame">
	<div class="row">
		
		<div class="span3">
		    {% if form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ form[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    
		   </div>
		</div>

			
	<div class="row">
	<div class="span4 offset4 contribute">
	<a class="btn btn-primary btn-large contribute" data-toggle="modal" href="#myModal">Submit Sounds</a> 
</div>
</div>
<br/>
<br/>


{% endblock %}

{% block scripts %}{% endblock %}